.tutorial {
  flex: 1;
  padding: 0px 20px 20px 20px;
  color: var(--text-color-secondary);
  overflow-y: auto;
  min-height: 0;
  background-color: var(--background-color);
  margin-top: 1px;
  
  .tutorial-section {
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 8px 0px;
    margin: 8px 0px;
    color: var(--text-primary);
  }

  .tutorial-step {
    background-color: var(--panel-color);
    box-shadow: 0px 1px 3px var(--border-color);
    color: var(--text-color-secondary);
    font-size: 11px;
    line-height: 20px;
    padding: 8px 12px;
  }
}
