@import url("../scss/common.scss");

.header-select {
  width: 88px;
}

label.field-label {
  display: block;
  font-weight: 600;
  letter-spacing: 1%;
  font-size: 11px;
  color: var(-text-secondary);
  padding: 0px 8px;
  margin: 8px 0px 2px;
  line-height: 18px;
}
