.help {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 8px;
  gap: 4px;
  background-color: var(--panel-inactive-color);
  border-top: 1px solid var(--border-color);
  height: 40px;
  overflow: hidden;
  color: var(--text-color-secondary);
  &.active { color: var(--text-color-primary); }
  line-height: 12px;
}
